.tab{
  width: 100px;
  height: 100px;
  border: 2px solid black;
  float: left;
}
.tabuleiro{
  width: 300px;
  margin-top: 50px;
}
.mostrador{
  margin-left: 500px;
  margin-top: 50px;
}
#txt-mostrador{
  float: left;
}
#img-mostrador{
  margin-left: 20px;
  float: left;
  text-align: center;
}
